/* MAIN STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

/* MAIN */

main {
  background-color: #eeeeee;
}

/* MAIN PART */

.main-part {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 50px;
}

.main-part-nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 20px;
}

.main-part-nav-list-item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7f7f7f;
}

.main-part hr {
  width: 100%;
  border: 1px solid #d1d1d1;
  margin-bottom: 40px;
}

.main-part-ads {
  width: 1200px;
  height: 128px;
  border-radius: 8px;
}

/* POSTS */

.posts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.post-container {
  width: 393px;
  height: 382px;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 20px 17px 18px;
  margin-bottom: 10px;
}

.post-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
}

.post-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  margin-bottom: 15px;
}

.post-img {
  width: 359px;
  height: 165px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.post-container span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
  display: flex;
  align-items: center;
}

.post-container span img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
