/* MAIN STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

*:focus {
  outline: 3px dotted #7296ec;
  outline-offset: 4px;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

/* HEADER */

header {
  width: 100%;
}

.header-top {
  background-color: #f6f6f6;
}

.header-top-container {
  width: 100%;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top-left,
.header-top-right {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 276px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 7px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #7296ee;
  padding: 8px 6px;
  margin-right: 35px;
  transition: opacity 0.4 ease;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.6;
}

.exchange-rate {
  display: flex;
  list-style-type: none;
}

.exchange-rate-item {
  font-size: 16px;
  line-height: 19px;
  color: #555555;
}

.exchange-rate-item b {
  color: #2959ce;
  margin-right: 4px;
}

.exchange-rate-item:first-child {
  margin-right: 25px;
}

.header-search {
  width: 275px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 60px;
  border: 1px solid #ffffff;
  padding: 15px 20px 13px 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8d8d8d;
  margin-right: 25px;
  background-image: url("/icon/icon-search.svg");
  background-repeat: no-repeat;
  background-size: 19.5px;
  background-position: 15px center;
}

.lang-toggle {
  width: 70px;
  height: 36px;
  background-color: #dce6ff;
  border-radius: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin-right: 25px;
}

.lang-toggle-link {
  width: 30px;
  height: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  color: #a6a6a6;
}

.lang-toggle-link-active {
  background-color: #ffffff;
  border-radius: 50%;
  color: #000000 !important;
}

.header-top-right > a {
  width: 89px;
  height: 45px;
  background-color: #7296ec;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 13px 20px;
  cursor: pointer;
  transition: opacity 0.4 ease;
}

.header-top-right > a:hover {
  opacity: 0.8;
}

.header-top-right > a:active {
  opacity: 0.6;
}

.header-bottom {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 50px;
}

.header-bottom-nav {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
}

.header-bottom-nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 16px;
}

.header-bottom-nav-list-item:not(:last-child) {
  margin-right: 35px;
}

.header-bottom-nav-list-item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7f7f7f;
  margin-top: 4px;
  margin-bottom: 4px;
  transition: color 0.4s ease;
}

.header-bottom-nav-list-item a:hover {
  color: #7296ec;
}

.header-bottom-nav-list-item a:active {
  opacity: 0.6;
}

.header-banner {
  width: 1200px;
  height: 128px;
  border-radius: 8px;
}

/* MAIN */

main {
  background-color: #ffffff;
  margin-bottom: 100px;
}

/* POSTS */

.posts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.post-container {
  width: 393px;
  height: 382px;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 20px 17px 18px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.post-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
}

.post-title-link {
  color: #000000;
}

.post-title-link:hover {
  color: #7296ec;
}

.post-title-link:active {
  opacity: 0.6;
}

.post-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  margin-bottom: 15px;
}

.post-img {
  width: 359px;
  height: 165px;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: 15px;
  display: block;
}

.post-container span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
  display: flex;
  align-items: center;
}

.post-container span img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* NOTIFICATION-CTA */

.notification-cta {
  width: 1050px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 70px 25px 25px;
  margin: 0 auto 60px;
  background-image: url("/img/notificatio-cta-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.notification-cta-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.notification-cta-button {
  width: 149px;
  height: 50px;
  background-color: #f78b3b;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

/* lAYOUT-2-1 */
.layout-2-1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* GLOBAL-NEWS */

.global-news-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 20px;
}

.global-news-list {
  margin-bottom: 17px;
}

.global-news-item {
  width: 797px;
  height: 205px;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.global-news-img {
  width: 210px;
  height: 165px;
  border-radius: 10px;
  margin-right: 15px;
  object-fit: cover;
}

.global-news-texts {
  flex-grow: 1;
}

.global-news-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
  flex-grow: 1;
  transition: color 0.3s ease;
}

.global-news-title:hover {
  color: #7296ec;
}

.global-news-title:active {
  opacity: 0.6;
}

.global-news-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  margin-bottom: 17px;
}

.global-news-footer {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}

.global-news-footer-img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.global-news-time {
  margin-left: 3px;
}

.global-news-button {
  width: 796px;
  height: 53px;
  background-color: #eaeaea;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* SIDEBAR */

.sidebar {
  width: 393px;
  margin-top: 48px;
}

/* GLOBAL-NEWS-SIDEBAR */

.global-news-sidebar-container {
  height: 502px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 20px 20px 25px 17px;
  margin-bottom: 10px;
}

.global-news-sidebar-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 20px;
}

.global-news-sidebar-list {
  list-style-type: none;
}

.global-news-sidebar-list-item:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
  padding-top: 20px;
  padding-bottom: 20px;
}

.global-news-sidebar-list-item:first-child {
  padding-top: 0;
}

.global-news-sidebar-list-item:last-child {
  padding-top: 20px;
}

.global-news-sidebar-list-item span {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
  margin-bottom: 20px;
}

.global-news-sidebar-title {
  margin-bottom: 8px;
}

.global-news-sidebar-title-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.global-news-sidebar-title-link:hover {
  color: #7296ec;
}

.global-news-sidebar-title-link:active {
  opacity: 0.6;
}

.global-news-sidebar-source time {
  margin-left: 5px;
}

/* SIDEBAR-AD */

.sidebar-ad-link {
  display: flex;
}

.sidebar-ad-img {
  width: 393px;
  height: 338px;
  object-fit: cover;
  border-radius: 15px;
}

.sidebar-ad-img-tall {
  height: 553px !important;
}

/* CONTACT */

.contact-container {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.contact-heading {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 20px;
}

/* FORM-CONTAINER */

.form-container {
  width: 696px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

.form-container input,
#message-input {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 18px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.form-container *::placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

#fullname-input {
  margin-right: 6px;
}

#fullname-input,
#phone-number-input {
  width: 343px;
  height: 55px;
  margin-bottom: 10px;
}

#email-input {
  width: 696px;
  height: 55px;
  margin-bottom: 10px;
}

#message-input {
  width: 696px;
  min-height: 180px;
  height: 180px;
  resize: vertical;
  margin-bottom: 20px;
}

.submit-button {
  width: 145px;
  height: 53px;
  background-color: #7297ef;
  border: none;
  border-radius: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
  float: right;
  transition: opacity 0.3 ease;
}

.submit-button:hover {
  opacity: 0.8;
}

.submit-button:active {
  opacity: 0.6;
}

/* BUSINESS-CARD-CONTAINER */

.business-card-container {
  width: 494px;
  height: 310px;
  background-color: #f6f6f6;
  border-radius: 10px;
  font-family: "Rubik", sans-serif;
  color: #000000;
  padding: 40px 25px;
}

.business-card-list {
  list-style-type: none;
}

.business-card-item {
  width: 100%;
  padding-bottom: 20px;
}

.business-card-item:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 20px;
}

.business-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 7px;
}

.business-card-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #7296ec;
}

/* FOOTER */

.site-footer {
  width: 100%;
  height: 356px;
  background-color: #7297ef;
  padding: 40px 0;
}

.site-footer *:focus {
  outline: 3px dotted #ffffff;
}

.footer-wrapper {
  width: 100%;
  max-width: 998px;
  margin: 0 auto;
}

.footer-top,
.footer-bottom {
  width: 100%;
  max-width: 998px;
}

.footer-heading {
  margin-bottom: 15px;
}

.footer-heading-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  display: inline-block;
  transition: opacity 0.3s ease;
}

.footer-heading-link:hover {
  opacity: 0.8;
}

.footer-heading-link:active {
  opacity: 0.6;
}

.footer-top-content {
  width: 100%;
  max-width: 998px;
  display: flex;
  margin-bottom: 30px;
}

.footer-top-text-wrapper {
  width: 229px;
  margin-right: 203px;
}

.footer-top-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
}

.footer-top-list {
  list-style-type: none;
}

.footer-top-list:not(:last-child) {
  margin-right: 100px;
}

.footer-top-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-top-item-link {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  display: inline-block;
  padding-right: 20px;
}

.footer-top-item-link:hover {
  text-decoration: underline;
}

.footer-hr {
  width: 100%;
  border: 1px solid #cecece;
  margin-bottom: 20px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  width: 160px;
}

.footer-bottom-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.footer-bottom-list-item:not(:last-child) {
  margin-right: 25px;
}

.footer-bottom-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
  flex-shrink: 0;
}

/* RETINA-BACKGROUND */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .notification-cta {
    background-image: url("/img/notificatio-cta-bg@2x.jpg");
  }
}
